/*#8F3343
#5C3D42
#E6DBC0*/
.mainPage{
    display: none;
}
@media only screen and (max-width: 600px){ /*extra small devices*/
    body{
        background-color: #8a2032;
    }
    #logo1{
        height: 40vh;
        width: 50vw;;
        margin-left: 25vw;
        position: absolute;
    }
    #cooks{
        height: 50vh;
        width: 50vw;
        margin-top: 20vh;
        margin-left: 25vw;
        position: relative;
    }
    .button{
        background-color: #E6DBC0;
        height: 7vh;
        width: 35vw;
        border-radius: 20px;
        margin-left: 30vw;
        font-family: 'Source Serif Pro', serif;
        position: absolute;
    }
    #start{
        position: relative;
        display: flex;
    }
    p{
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 600px){ /* For tablets: */
    body{
        background-color: #8a2032;
    }
    #logo1{
        height: 60vh;
        width: 60vw;;
        margin-left: 20vw;
        position: absolute;
        margin-top: -10vh;
    }
    #cooks{
        height: 50vh;
        width: 50vw;
        margin-top: 30vh;
        margin-left: 25vw;
        position: relative;
    }
    .button{
        background-color: #E6DBC0;
        height: 7vh;
        width: 35vw;
        border-radius: 20px;
        margin-top: 5vh;
        margin-left: 30vw;
        font-family: 'Source Serif Pro', serif;
        position: absolute;
    }
    #start{
        position: relative;
        display: flex;
    }
    p{
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) {  /* For landscape tablets: */
    #logo1{
        height: 70vh;
        width: 50vw;;
        margin-left: 25vw;
        position: absolute;
        margin-top: -20vh;
    }
    #cooks{
        height: 50vh;
        width: 50vw;
        margin-top: 30vh;
        margin-left: 25vw;
        position: relative;
    }
    .button{
        background-color: #E6DBC0;
        height: 7vh;
        width: 20vw;
        border-radius: 20px;
        margin-top: 5vh;
        margin-left: 40vw;
        font-family: 'Source Serif Pro', serif;
        position: absolute;
    }
    #start{
        position: relative;
        display: flex;
    }
    p{
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 992px){ /* For desktops: */
    #logo1{
        height: 80vh;
        width: 40vw;;
        margin-left: 30vw;
        position: absolute;
        margin-top: -25vh;
    }
    #cooks{
        height: 50vh;
        width: 50vw;
        margin-top: 30vh;
        margin-left: 25vw;
        position: relative;
    }
    .button{
        background-color: #E6DBC0;
        height: 7vh;
        width: 20vw;
        border-radius: 20px;
        margin-top: 5vh;
        margin-left: 40vw;
        font-family: 'Source Serif Pro', serif;
        position: absolute;
    }
    #start{
        position: relative;
        display: flex;
    }
    p{
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 1200px){ /* For large desktops */
    .button{
        background-color: #E6DBC0;
        height: 7vh;
        width: 15vw;
        border-radius: 20px;
        margin-top: 5vh;
        margin-left: 42.5vw;
        font-family: 'Source Serif Pro', serif;
        position: absolute;
    }
}